@use "../../mixins.scss";

.controls {
  @include mixins.flex();
  font-size: 24px;
  gap: 36px;

  svg {
    @include mixins.btn();
  }

  .mainBtn {
    font-size: 36px;
  }
}

.disabled {
  opacity: 0.25 !important;
  pointer-events: none;
}

@media (orientation: portrait) {
  .controls {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
