.container {
  padding: 24px;
}

.playlists {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 32px;
  h2,
  h3 {
    margin: 0;
  }

  h3 {
    opacity: 0.5;
  }
}

.playlist {
  .cover {
    aspect-ratio: 1 / 1;
    background: orange;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.75);
    overflow: hidden;
  }
}
