@mixin btn() {
  opacity: 1;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.7;
  }
}

@mixin flex() {
  display: flex;
  align-items: center;
  gap: 12px;
}

@mixin clickable() {
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

@mixin hover-link() {
  &:hover {
    text-decoration: underline;
  }
}

@function accent() {
  @return linear-gradient(
    0deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(255, 251, 143, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  );
}
