@use "./components/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Atkinson Hyperlegible";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top {
  display: flex;
  z-index: 100;

  background: rgb(36, 37, 40);
  border-bottom: 1px solid rgb(56, 57, 60);

  .active {
    background: radial-gradient(
      circle,
      rgba(74, 70, 74, 1) 0%,
      rgba(31, 31, 33, 1) 100%
    );
  }

  div {
    cursor: pointer;
    height: 4vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(56, 57, 60);
  }
}

.main {
  flex-grow: 1;
  background: yellow;
  width: 100%;
  min-height: 0;

  display: flex;

  .items {
    background: rgb(16, 16, 18);
    background: radial-gradient(
      circle,
      rgba(44, 40, 44, 1) 0%,
      rgba(31, 31, 33, 1) 100%
    );

    overflow-y: auto;
    min-height: 0;

    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .input {
      padding: 12px;
    }
  }

  .queue {
    background: rgb(36, 37, 40);
    padding: 12px 18px;
    padding-left: 0px;
    min-width: 24vw;
    max-width: 24vw;
    z-index: 20;
  }

  .queueButton {
    display: flex;
    align-items: center;
    background: rgb(36, 37, 40);
    border-left: 1px solid rgb(56, 57, 60);
    padding: 0 8px;
  }

  .hidden {
    display: none;
  }
}

.bottom {
  z-index: 30;
  background: rgb(22, 20, 22);
  background: linear-gradient(
    0deg,
    rgba(22, 20, 22, 1) 0%,
    rgba(64, 60, 64, 1) 100%
  );
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .controls {
    margin-top: 24px;
    padding: 0 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;

    .options {
      @include mixins.flex();

      font-size: 24px;
      svg {
        @include mixins.btn();
      }
    }
  }
}

@media (orientation: portrait) {
  .controls {
    .track,
    .artist,
    .cover {
      display: none;
    }
  }

  .queue {
    min-width: 80vw !important;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .queue {
    min-width: 90vw !important;

    h3 {
      font-size: 1rem;
      margin: 0;
    }
  }
}
