@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@mixin btn() {
  opacity: 1;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.7;
  }
}

@mixin flex() {
  display: flex;
  align-items: center;
  gap: 12px;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Atkinson Hyperlegible";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  flex-grow: 1;
  background: yellow;
  width: 100%;

  display: flex;

  .items {
    background: rgb(16, 16, 18);
    background: radial-gradient(
      circle,
      rgba(44, 40, 44, 1) 0%,
      rgba(31, 31, 33, 1) 100%
    );
    flex-grow: 1;
  }

  .spotlight {
    background: rgb(16, 16, 18);
    background: radial-gradient(
      circle,
      rgba(44, 40, 44, 1) 0%,
      rgba(31, 31, 33, 1) 100%
    );
    flex-grow: 1;

    display: none;
  }

  .queue {
    background: rgb(36, 37, 40);
    border-left: 1px solid rgb(56, 57, 60);
    padding: 24px 36px;
    width: 20vw;
  }
}

.bottom {
  background: rgb(22, 20, 22);
  background: linear-gradient(
    0deg,
    rgba(22, 20, 22, 1) 0%,
    rgba(64, 60, 64, 1) 100%
  );
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .progress {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    progress {
      /* Reset the default appearance */
      -webkit-appearance: none;
      appearance: none;

      height: 4px;
      transition: height 200ms;
      width: 100vw;

      &:hover {
        height: 10px;
      }
    }

    progress[value]::-webkit-progress-bar {
      background-color: rgba(255, 255, 255, 0);
      transition: background-color 200ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
      }
    }

    progress[value]::-webkit-progress-value {
      background: linear-gradient(
        0deg,
        rgba(253, 187, 45, 1) 0%,
        rgba(255, 251, 143, 1) 50%,
        rgba(253, 187, 45, 1) 100%
      );
    }
  }

  .btm {
    margin-top: 24px;
    padding: 0 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;

    .playing {
      display: flex;
      gap: 8px;

      .cover {
        height: 48px;
        width: 48px;
      }

      .info {
        display: flex;
        flex-direction: column;

        .track {
          font-weight: 600;
        }

        .artist {
          opacity: 0.65;
        }
      }
    }

    .controls {
      @include flex();
      font-size: 24px;
      gap: 36px;

      svg {
        @include btn();
      }

      .mainBtn {
        font-size: 36px;
      }
    }

    .options {
      @include flex();

      font-size: 24px;
      svg {
        @include btn();
      }
    }
  }
}

@media (orientation: portrait) {
  .btm {
    .track,
    .artist,
    .cover {
      display: none;
    }
  }

  .items {
    display: none;
  }

  .options {
    display: none !important;
  }

  .controls {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .spotlight {
    display: flex !important;
    justify-content: center;
    align-items: center;

    img {
      height: 60vw;
      border: 1px solid rgba(255, 255, 255, 0.75);
      box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.15);
    }

    .info {
      --size: 1.2rem;
      .track {
        font-size: var(--size);
        font-weight: 600;
        display: block;
      }

      .album {
        display: block;
      }
    }
  }
}
