.playing {
  display: flex;
  gap: 8px;

  .cover {
    img {
      height: 48px;
      width: 48px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .track {
      font-weight: 600;
    }

    .artist {
      opacity: 0.65;
    }
  }
}

@media (orientation: portrait) {
  .info {
    display: none !important;
  }
}
